body {
    background-color: black;
    color: rgb(32, 194, 14);
}
div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid rgb(32, 194, 14);
}