body {
    background-color: rgb(153, 70, 26);
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
.access {
    width: 125px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 8px solid black;
}
.access input {
    width: 80%;
}
.access button {
    width: 33.33%;
}